body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i.postimg.cc/vm2m5ckm/background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: azure;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.message {
  position: relative;
  padding: 15px 20px;
  background-color: #444444;
  border: 1px solid #333333;
  border-radius: 5px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: #000;
}

.logo {
  width: 100px;
  height: 100px;
  display: inline;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar {
  display: inline-block;
  width: 100%;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline;
}

.welcome {
  margin-right: 3%;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  padding: 14px 20px;
  font-size: 1.3em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #555;
  font-weight: bold;
}

.search-container {
  position: relative;
  width: 20%;
  margin-right: 30px;
  font-family: Arial, sans-serif;
}

.search-container::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23666666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  pointer-events: none;
  color: #666;
  z-index: 1;
  right: -10px;
}

.search-input {
  width: 103%;
  padding: 10px;
  border: 2px solid #ccc;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  transition: border-color 0.3s ease;
  &::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }
  border-radius: 50px;
  padding-right: 22px;
}

.suggestion-list {
  position: absolute;
  top: 100%;
  background: #444;
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  max-height: 150px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 1000;
  width: 103%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  transition: all 0.5s linear;
  left: 5.5%;
}

.suggestion-list li {
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s linear;
  display: inline-block;
  font-size: 0.7em;
  width: 100%;
}

.suggestion-list li:hover {
  background: #444;
  font-weight: bold;
}

main {
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  width: 16%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.short_card {
  padding-top: 32px;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: 20%;
  border-radius: 2%;
  align-items: center;
}

.card a {
  text-decoration: none;
  color: #333;
}

.card h3 {
  margin: 10px 0;
  padding: 5px;
  font-size: 1.5em;
  display: none;
  text-align: center;
}

.card p {
  color: #666;
  font-size: 1em;
  line-height: 1.5;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  background-color: #000000;
}

.card:hover img {
  opacity: 0.5;
  filter: blur(2px);
}

.card:hover h3 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  z-index: 5;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav li {
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }

  .search-container {
    width: 100%;
    margin: 10px 0;
  }

  .suggestion-list {
    width: calc(80% + 20px);
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-input {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    margin: 0 auto;
    display: block;
  }

  .suggestion-list li {
    font-size: 0.9em;
    padding: 8px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }

  .search-container::before {
    right: 5%;
    font-size: 20px;
  }
  .card {
    width: 30%;
    margin: 10px;
  }
  .card img {
    height: 50%;
  }
}

footer {
  /* background-color: #333; */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
}

form#animeForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0000005d;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form#animeForm input[type="text"],
form#animeForm input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: #0000005d;
  &::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }
}

form#animeForm button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #55555500;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  background-image: linear-gradient(to right, #000000, #ffffff00);
  background-size: 200% 100%;
}

form#animeForm button[type="submit"]:hover {
  background-color: #333;
}

.form-wrapper {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: inline-block;
}

.form-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.end-msg {
  margin-top: 60px;
  text-align: center;
  background-color: #00000088;
  display: flex;
  border-radius: 5%;
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.floating-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #444;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

.floating-message .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ddd;
}

.floating-message .close-btn:hover {
  color: #fff;
}

/* Remove this for working of the Request Form */
.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 8px;
}